.header {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.main {
  padding: 1em;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0;
  padding: 0;
}

.grid li {
  margin: 1em;
  list-style: none;
  padding: 5px;
}

.show-more {
  width: 100%;
}
