:root {
  --main-color: #62929e;
  --secondary-color: #ebeae2;
  --border-radius: 8px;
  --bg-color: #c6c5b9;
  --shadow: 0px 0px 5px 0px #00000073;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: var(--main-color);
}

#root {
  background: var(--bg-color);
  padding: 4px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: min(275px, 80vw);
}

.tools {
  display: flex;
  justify-content: space-between;
}

.shiny {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 4px 12px;
  gap: 4px;
}

.show-more {
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: 4px 12px;
}

.show-more:hover {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  height: 50vh;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 4px;
  gap: 4px;
  min-height: 50px;
}

.icon {
  width: 3em;
  height: 3em;
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
}
